.ui.segment.shadow
    .ui.relaxed.divided.list
        each menuItem in menu
            .item
                .content
                    div(class = menuItem.isToday ? 'red' : '').header.uppercase= menuItem.header
                    .ui.list
                        each item in menuItem.items
                           li.item.description= "- " + item
        