doctype html
html
  head
    title Lunch
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/nav
    block content
