extends layout

block content
  .ui.hidden.divider
  .ui.main.container
    .ui.centered.grid
      .column
        if table
          include includes/menu-table
        else
          include includes/menu-image