.ui.list
    each menuItem in menu
        .panel
            .item
                .content
                    h3.ui.header.clear-margin.uppercase= menuItem.header
                    .ui.list
                        each item in menuItem.items
                           li.item.description= "- " + item
        